@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dongle:wght@700&display=swap');

h1,h2 {
    font-size: 2.5em;
    font-family: 'Bangers', cursive;
    font-family: 'Dongle', sans-serif;
    display: inline
}

h2 {
    color: silver
}

header {
    padding: 1em;
    background-color: #fff
}

a {
    text-decoration: none;
}
